.scene {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main {
    display: flex;
    flex-direction: row;
}

.content {
    order: 1;
    width: 75%;
    max-width: 75%;
    flex: 3 1 auto;
}

.sidebar {
    order: 0;
    flex: 1 1 auto;
    margin-right: 20px;
}
